@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime;
@inject NavigationManager _myNavigationManager

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page-background-class">
    <MudLayout>
        <MudAppBar Color="Color.Transparent" Elevation="0" Class="menubar">
            <MudImage Src="images/logo.png" Alt="Logo" Class="ml-16 mt-16" Height="50" Width="50"/>
            <MudText Typo="Typo.h5" Class="ml-3 mt-16" ><strong>Cryptowise</strong></MudText>
            <MudSpacer/>
            <MudLink Href="https://github.com/PiotrApriasz?tab=repositories">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" aria-label="github" Class="mr-16 mt-16"
                               Size="Size.Large"></MudIconButton>
            </MudLink>
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>


@code {
    bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme _theme = new();

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private bool CheckIfMetaAuth()
    {
        Console.WriteLine(_myNavigationManager.Uri[(_myNavigationManager.Uri.LastIndexOf('/') + 1)..]);
        return _myNavigationManager.Uri[(_myNavigationManager.Uri.LastIndexOf('/') + 1)..] == "MetaAuthSignUp";
    }
}

<style>
    .menubar {
         -webkit-backdrop-filter: blur(8px) !important;
          backdrop-filter: blur(8px) !important;
          height: 100px;
          
    }
    
    .mud-appbar.mud-appbar-fixed-top {
        position: static;
    }
        .page-background-class {
            background: rgb(198,200,200);
            background: linear-gradient(180deg, rgba(198,200,200,1) 0%, rgba(255,251,252,1) 100%);
            -webkit-background-size: cover;
                          -moz-background-size: cover;
                          -o-background-size: cover;
                          background-size: cover;
                          min-height: 100%;
                          top: 0;
                              bottom:0;
                              position:fixed;
                              overflow-y:scroll;
                              overflow-x:hidden;
                          width: 100%;
                          height: auto;
        }
    
</style>