@inject NavigationManager _nyNavigationManager

@page "/"


<MudContainer Class="mt-2">
    <div class="d-flex justify-center">
        <MudImage Src="images/logo.png" Alt="Logo" Height="270" Width="270"/>
    </div>
    <MudText Typo="Typo.h3" Class="mt-8" Align="Align.Center" GutterBottom="true"><b>Welcome in Cryptowise!</b></MudText>
    <MudText Typo="Typo.h4" Align="Align.Center">This is the place where you can take control of all your crypto finances</MudText>
    <MudGrid Spacing="10" Justify="Justify.Center" Class="mt-8">
        <MudItem>
            <MudStack Row="true">
                <MudImage Src="images/central.png" Alt="central" Height="120" Width="120"/>
                <MudStack Justify="Justify.Center">
                    <MudText Typo="Typo.h5">Centralized User</MudText>
                    <MudText Typo="Typo.subtitle2">Use traditional way for authentication</MudText>
                    <MudText Typo="Typo.subtitle2">We will create account for you in our local database</MudText>
                </MudStack>
            </MudStack>
            <MudStack Row="true" Justify="Justify.Center" Class="mt-5">
                <MudButton Variant="Variant.Filled" Size="Size.Large" >Sign In</MudButton>
                <MudButton Variant="Variant.Filled" Size="Size.Large" Class="ml-5">Sign Up</MudButton>
            </MudStack>
        </MudItem>
        <MudItem>
            <MudStack Row="true">
                <MudImage Src="images/nft.png" Alt="nft" Height="120" Width="120"/>
                <MudStack Justify="Justify.Center">
                    <MudText Typo="Typo.h5">Decentralized User</MudText>
                    <MudText Typo="Typo.subtitle2">Use decentralized way for authentication</MudText>
                    <MudText Typo="Typo.subtitle2">We will create account for you with MetaAuth</MudText>
                </MudStack>
            </MudStack>
            <MudStack Row="true" Justify="Justify.Center" Class="mt-5">
                <MudButton Variant="Variant.Filled" Size="Size.Large" >Sign In</MudButton>
                <MudButton Variant="Variant.Filled" Size="Size.Large" Class="ml-5" OnClick="NavigateToMetaAuthSignUp">Sign Up</MudButton>
            </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

    private void NavigateToMetaAuthSignUp()
    {
        _nyNavigationManager.NavigateTo("MetaAuthSignUp");
    }
}